<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FoxTools.Shooter.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v2.0.50727" />
    </startup>
    <userSettings>
        <FoxTools.Shooter.My.MySettings>
            <setting name="PositionX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PositionY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="FoxId" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="FoxKey" serializeAs="String">
                <value>60f6f2d9-0280-4d8a-b9ed-6cba8b49ecec</value>
            </setting>
            <setting name="TempFolderName" serializeAs="String">
                <value>FoxTools.Shooter.tmp</value>
            </setting>
            <setting name="ZzWebAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZzWebEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="ZzWebPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="ZzWebDisComments" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZzWebDisRss" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ZzWebLepota" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="ProxyAuth" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPwd" serializeAs="String">
                <value />
            </setting>
            <setting name="SendTo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PenColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="PenWidth" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PixelateSize" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ScreenMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AllowOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverlayColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="OverlayAlpha" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SelectColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="ZzWebConfigMore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value />
            </setting>
            <setting name="PromptToSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AlwaysCopy" serializeAs="String">
                <value>True</value>
            </setting>
        </FoxTools.Shooter.My.MySettings>
    </userSettings>
</configuration>